<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



<style >
	
.row
{

 width: 700px;
    height: 250px;    
    border: 1px solid #D5DBDB   ;
    box-sizing: border-box;
    padding: 25px;
    margin: 25px;
}

.heading
{
	color:#2E86C1;
	font-size:50px;

}
.btn 
{
	margin: 10px;
	

}
.container{
    padding-left: 200px;
    padding-top: 120px;
}

</style>


  </head>
  <body>
  	
<div class="container">

	<div class="row" style="background-color: #F8F9F9">

	<h1 class="heading" style="font-family: Verdana, Geneva, sans-serif;"><center>Welcome Admin</center></h1>
	<hr>
<center>
	<button type="button" class="btn btn-primary active" ><a href="#manageProjects" style="color: white">Manage Projects</a></button>


   <button type="button" class="btn btn-primary active"><a href="#manageUser" style="color: white">Manage Users</a></button> 
 
</center>

</div>
</div>
  </body>


  </html>