
<body>
    <div class="container">

        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Estimation</th>
                </tr>

            </thead>

            <tbody>
                <tr class="active">

                    <td colspan="4"> No items in the backlog </td>
                </tr>
            </tbody>


        </table>


        <div class="well ">
            <button type="button" class="btn btn-default"><a href="#newBacklog">New backlog item</a></button>
        </div>
    </div>
    </div>
    </div>