<!-- MANAGE USER -->

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>E-mail</th>
                <th>Last Name</th>
                <th colspan="2">First Name</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="active" ng-repeat="x in userData">
                <td width="17%"><img src="images/user.jpg" alt="Image"></td>
                <td width="35%">{{x.email}}</td>
                <td width="20%">{{x.last_name}}</td>
                <td width="20%">
                    <ul id="page18_element">
                        <li>{{x.first_name}}</li>
                    </ul>
                </td>
                <td width="8%"><button class="btn btn-rounded" style="background-color:red;" ng-click="remove(x.user_id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    <div class="well well-sm">
        <button class="btn btn-default"><a href="#newuser">New User</a></button>
    </div>
    <!-- down jumbotron ends -->
</div>
<!-- container ends -->