
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name </th>
                <th>Description</th>
                <th>My Role(s)</th>
                <th>Tools</th>

            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>Perspective</td>
                <td>Displaying live articles from JSON data</td>
                <td>[*SM*]</td>
                <td><a href="#Backlogs">Product Backlogs</a> | <a href="#sprints">Sprints</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- container ends -->