
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #name
  {
    width: 700px;
    border-color: green;
  }
  #pwd
  {
    width: 700px;
    border-color: green;
  }
  #p
  {
    width: 400px;
    border-color: green;
  }
  #es
  {
    width: 400px;
    border-color: green;
  }
  #footer
  {
    height: 48px;
  }
  #header
  {
    margin-top: 40px;
  }
  #head
  {
    margin-top: 20px;
  }
  
  </style>
</head>
<body>


<div class="container" id="header" >

<div class="well well-sm" >
<div class="page-header"  id="head" >
    <h2>Product backlog Item</h2>   
  </div>

 <div class="container" >
  
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Backlog-1">
    </div>
    <div class="form-group">
      <label for="pwd">User story</label>
      <textarea class="form-control" id="pwd" placeholder="Book Marking Article"></textarea>
      
    </div>
    <div class="form-group">
      <label for="p">Priority</label>

      <input type="number" class="form-control" id="p" placeholder="1">
    </div>
    <div class="form-group">
      <label for="es">Estimation</label>
      <input type="number" class="form-control" id="es" placeholder="2">
    </div>
  </form>
</div><hr></hr>

   <div class="container" id="footer">

  <button type="button" class="btn btn-primary">Save</button>
  
              
  <button type="button" class="btn btn-warning">Discard Changes</button>


</div>
    
        
</div>

    
  </div> 
  </div>
  </div>


</body>
</html>
